<%- include('./header.ejs') %>
    <br />
    <br />
    <h1 class="text-center">Course View</h1>
    <div class="container">
        <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                </tr>
                <tr>
                    <td><%= d._id %></td>
                    <td><%= d.name %></td>
                    <td><%= d.email %></td>
                    <td><%= d.city %></td>
                </tr>
        </table>
    </div>

<%- include('./footer.ejs') %>
